body {
  background-color: #efeee7;
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", 
      Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

h1 {
  color: #efeee7;
  background-color: black;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;

}

/* Other interface
.container {
  width: 1024px;
  margin: 0 auto;
}


#bio-image {
  float: left;
}


#main-bio {
  float: left;
  width: 70%;
}

#contact-info {
  float: right;
  background-color: 454545;
  width: 30%;
}
*/
#portImg {
  width: 200px;
  height: 200px;
}
#bio-image {
  margin-right: 20px;
  width: 180px;
  height: 180px;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;   
}

#footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  right: 40%;
  padding: 10px;
  width: 100%;
  height: 2.5rem;            
}

.card-header {
  text-align: center;
}
